@media (max-width: 1199px)

@media (max-width: 991px)
    .promo
        &__header
            font-size: 39px
            line-height: 39px
        &__subheader
            font-size: 21px
            line-height: 21px
        &__icons
            width: 400px
    .benefits
        &__wrapper
            flex-flow: wrap
            justify-content: center
        &__item
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0

@media (max-width: 767px)
    .header
        &__logo img
            width: 90%
        &__phone
            font-size: 14px
            line-height: 14px
    .promo
        &__icons
            width: 380px
        &__link
            font-size: 15px
    .button
        width: 120px
        height: 26px
        font-size: 11px
        &.button_main
            width: 280px
            height: 45px
            font-size: 15px
            line-height: 20px
            margin-top: 60px
@media (max-width: 575px)
