@import "base/variables"
*
    font-family: 'Museo Sans Cyrl', sans-serif

.container
    max-width: 970px
    margin: 0 auto
    padding: 0 10px
a
    text-decoration: none

@import "blocks/promo"
@import "blocks/header"
@import "blocks/buttons"
